.CoffeeButton, .TeaButton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 130px;
}

.CoffeeButton button, .TeaButton button {
  height: 40px;
  width: 170px;
  font-size: 30px;
  color: #f9f9f9;
  border-radius: 5px;
  background-color: #55391f;
  border: none;
  cursor: pointer;
}

.TeaButton button {
  background-color: #a83f1e;
}
.CoffeeButton button:active {
  background-color: #7b5838;
}
.TeaButton button:active {
  background-color: #bb5f43;
}
